// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// // Variables
// @import 'variables';
// // Bootstrap
// @import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

form.form-padrao {
    float: left;
    width: 100%;
}

form.form-padrao label {
    float: left;
    width: 49%;
    height: 60px;
    padding: 7px 15px;
    border: 1px solid #e9e9e9;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

form.form-padrao label:nth-last-of-type(odd) {
    margin-left: 2%;
}

form.form-padrao label span {
    float: left;
    width: 100%;
    font: 400 .75em 'Arial';
    color: #c7c7c7;
    padding-bottom: 5px;
}

form.form-padrao label input {
    float: left;
    width: 100%;
    color: #5c5c5c;
    font: 400 1.25em 'Arial';
    background: transparent;
}

.form-padrao .input {
    float: left;
    width: 100%;
    color: #5c5c5c;
    font: 400 1.25em 'Arial';
    background: transparent;
}

form.form-padrao label.submit {
    background: #0ad181;
    border-color: #0aaa67;
}

form.form-padrao .submit {
    background: #0ad181;
    border-color: #0aaa67;
}

form.form-padrao label.submit input {
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
    color: #f9f9f9;
}

.btn-add {
    float: right;
}

.color-input-addon {
    width: 35px;
    display: block;
    height: 35px;
    position: absolute;
    top: 0;
    right: 14px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}

.table-company {
    td {
        text-align: center;
        position: relative;

        .color-input-addon {
            display: inline-block;
            border-radius: .25rem;
            position: static;
            width: 50%;
        }
    }
}

.table td,
.table th {
    vertical-align: middle;
}

.preview-image {
    max-width: 100%;
    margin-bottom: 10px;
    display: block;
}

.preview-file,
.preview-slide {
    max-width: 100%;
    margin-bottom: 10px;
    display: none;
}

.ui-sortable-helper {
    display: table;
}

.drag-item {
    cursor: move;
    font-size: 30px !important;
}

.preview-audio {
    display: none;
    margin-bottom: 10px;
}

.thumb-list {
    width: 150px;
}

.col-button {
    position: relative;

    .remove-time-tag {
        position: absolute;
        bottom: 0;
    }
}

.box-upload {
    display: none;

    &.active {
        display: block;
    }
}

.stats-small__percentage--increase::before {
    background: none;
}

.btn-back {
    margin-right: 5px;
}

.preview-pdf {
    display: none;

    &.show {
        display: block;
    }
}

.list-tags {
    list-style: none;
    padding-left: 15px;
    li {
        strong {
            cursor: pointer;
            color: #007bff;
            font-weight: bold;
        }
    }
}